<div class="container-dark-mode">
  <div class="dark-mode">
    <mat-slide-toggle [(ngModel)]="isChecked" (click)="toggleDarkMode()"></mat-slide-toggle>
    <br/>
    <button (click)="resetDarkMode()" mat-raised-button color="primary"> Reset</button>
  </div>
</div>

<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
    <br/><br/>
    <button (click)="startProgress()" mat-raised-button color="primary"> Lance progress bar</button>
  </h1>

  <!-- Link to navigate to another page -->
  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>

  <button (click)="openDialog()" >Select files</button>

</div>
